<?xml version="1.0.0" ?>

<!-- 
  This launch file runs the object tracker
-->  
<launch>

  <!-- Start the node in the AGV namespace -->
  <group ns="$(optenv NAMESPACE default)">

    <!--
    Run telescope_motors_controler node
    -->
    <!--node pkg="telescope_motors_controler" type="telescope_controler_node.py" name="telescope_motors_controler" output="screen" required="true" /-->

    <node pkg="telescope_motors_controler" type="telescope_controler_node.py" name="motor_controller_interface" output="screen">
      <param name="port" value="/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0" />
    </node>

  </group>

</launch>

