<?xml version="1.0.0" ?>
<launch>
  

  
  <!-- 
  Load the local_sidereal_time launch file
  - Broadcast the local sidereal time
  -->
  <include file="$(find local_sidereal_time)/launch/local_sidereal_time.launch" />

  
  <!-- 
  Load the telescope motors controler launch file
  - Control the motors of the telescope
  -->
  <include file="$(find telescope_motors_controler)/launch/telescope_motors_controler.launch" />

  
  <!-- 
  Load the celestial tracker launch file
  - Track an object in the sky
  -->
  <include file="$(find celestial_tracker)/launch/celestial_tracker.launch" />

  
  <!-- 
  Load the ihm communication launch file
  - Communication with the IHM
  -->
  <include file="$(find misc)/launch/ihm_communication.launch" />
  


</launch>
